
@{
    ViewData["Title"] = "About";
}

<div class="container pt-5">
    <br>
    <br>
    <br>
    <h1 class="text-center"><strong>FaudDream</strong></h1>
    <p class="lead">
        <div class="about-rules__block" style="text-align: left; color: rgb(26, 26, 26); text-transform: none; text-indent: 0px; letter-spacing: normal; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; margin-bottom: 60px; word-spacing: 0px; white-space: normal; box-sizing: inherit; orphans: 2; -webkit-text-stroke-width: 0px;"></div>
            <div class="p-container p-container--size-xxs" style="box-sizing: inherit; margin-left: auto; margin-right: auto; max-width: 896px; padding-left: 40px; padding-right: 40px; position: relative; width: 100%;"></div>
    <p class="el-text el-text--size-xxl" style="line-height: 1.5; font-size: 24px; font-weight: 400; margin-top: 0px; margin-bottom: 0px; box-sizing: inherit;">
        <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol">FaudDream<span style="box-sizing: inherit;"> &mdash; открытая платформа. Мы размещаем все проекты, которые не противоречат правилам сайта и законодательству Республики Беларусь. Ниже мы разместили правила, соблюдение которых позволит правильно оформить проект и привлечь финансирование. </span></font>
    </p>
       </div>
 <br>

<div class="about-rules__block" style="text-align: left; color: rgb(26, 26, 26); text-transform: none; text-indent: 0px; letter-spacing: normal; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; margin-bottom: 0px; word-spacing: 0px; white-space: normal; box-sizing: inherit; orphans: 2; -webkit-text-stroke-width: 0px;">
    <div class="p-container p-container--size-xxs" style="box-sizing: inherit; margin-left: auto; margin-right: auto; max-width: 896px; padding-left: 40px; padding-right: 40px; position: relative; width: 100%;">
        <div class="el-wysiwyg-output ql-editor" style="padding: 0px; height: auto; line-height: 1.55em; font-size: 18px; white-space: normal; overflow-y: visible; box-sizing: inherit;">
            <article style="box-sizing: inherit;">
                <ul style="box-sizing: inherit; list-style-image: none; list-style-position: outside; list-style-type: none; margin-bottom: 0px; margin-left: 0px; margin-top: 0px; padding-left: 0px; position: relative;">
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><strong style="box-sizing: inherit; font-weight: 900; margin-bottom: 0px; margin-top: 0px;">Создавайте новое. </strong> Краудфандинг не работает для продуктов, которые уже существуют. Нашим пользователям (бэкерам) гораздо интереснее найти то, что еще не продаётся в магазинах, и стать причастными к его созданию.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><strong style="box-sizing: inherit; font-weight: 900; margin-bottom: 0px; margin-top: 0px;">Будьте честным и открытым. </strong> Расскажите о себе и о своем проекте. Людям важно узнать как можно больше информации о том, что вы собираетесь делать, ведь поддерживая проект, они становятся его частью. Будьте на связи с бэкерами, не забывайте сообщать им о новостях: о том, как продвигается финансирование проекта, и его реализация в случае успеха.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><strong style="box-sizing: inherit; font-weight: 900; margin-bottom: 0px; margin-top: 0px;">Наработки по проекту обязательны. </strong> Если проект существует лишь в вашей голове, он не будет интересен спонсорам. Чем больше проделано работы до старта крауд-кампании, тем больше шансов на успех.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><strong style="box-sizing: inherit; font-weight: 900; margin-bottom: 0px; margin-top: 0px;">Помните про ответственность. </strong> Ответственность за реализацию проектов несут их авторы. Мы не рассматриваем жалобы, связанные с реализацией проектов, не решаем споры и не занимаемся возвратом денежных средств. Перечисляя средства в проект, бэкеры оказывают доверие их автору.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><b>Размещение проекта в FaudDream &mdash; бесплатное.</b> FaudDream не берет деньги за размещение проекта, и не взимает комиссию с неуспешных проектов.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><b>FaudDream использует принцип &laquo;Все-или-ничего&raquo;. </b> Это значит, что проект считается успешным, если он привлек 100% и более от заявленной суммы. Мы не делаем исключений. В случае, если сумма не собирается, проект считается неуспешным, а все деньги возвращаются спонсорам.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 1.66em; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><strong style="box-sizing: inherit; font-weight: 900; margin-bottom: 0px; margin-top: 0px;">FaudDream не работает с благотворительными проектами. </strong> Улей работает по принципу reward-based, то есть бэкеры вносят деньги в проект, чтобы получить то, что будет создано в результате его реализации.</font>
                        </p>
                    </li>
                    <li style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px; padding-left: 1.68em; position: relative;">
                        <p style="box-sizing: inherit; margin-bottom: 0px; margin-top: 0px;">
                            <font face="Univers,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol"><b>FaudDream не занимается инвестициями.</b> FaudDream &ndash; это краудфандинговая платформа, которая работает исключительно с созданием новых продуктов. Но мы не занимаемся инвестициями и публикуем инвестиционные предложения.</font>
                        </p>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>
<p>
    &nbsp;
</p>
       


