@model WebFundDream.Models.Company;
@{
    ViewData["Title"] = "Создать компанию";
}
<link rel="stylesheet" type="text/css" href="~/css/CreateCompany.css">
<br>
<br>
<br>
<div class=" container p-3 m-3 container-fluid">
    <div clas="row">

        <h1 class="text-center"><strong>Форма создание компании</strong></h1>

    </div>
    <div class="row text-center mx-auto">
        <div class="col ">
            <div class="form-group ">
                <br />
                <form asp-action="create" asp-controller="company">
                    <label for="name">Название компании:</label>
                    <textarea class="form-control" rows="2" id="name" name="name" required></textarea>
                    <br />
                    <label for="name1">Описание компании:</label>
                    <textarea class="form-control" rows="2" id="name1" name="defination" required></textarea>
                    <br />
                    <label for="name2">Бонусы(Составьте список бонусов и требуемую сумму):</label>
                    <textarea class="form-control" rows="2" id="name2" name="bonus" required></textarea>
                    <br />
                    <label>Нужная сумма (USD) :</label>
                    <input type="number" rows="2" id="name3" name="sum" required />
                    <br />

                    <label for="sel1">Тематика:</label>
                    <select class="form-control" id="sel1" name="them">
                        <option>Исскуство</option>
                        <option>Музыка</option>
                        <option>Кино</option>

                    </select>
                    <br />
                    <br />
                    <br />
                    <label for="name2">Ссылка на видео(Youtube):</label>
                    <textarea class="form-control" rows="2" id="name2" name="videopath"></textarea>
                    <br />
                </form>

                <script src="~/js/draganddrop.js"></script>

                <label for="imgs">Добавьте картинки для проекта:</label>
            </div>
            <div class="col mx-auto upload" name="imgs" id="file">

            </div>

            <script>
                var myDropzone = new Dropzone("div#file", {
                    url: "@Url.Action("Upload", "Company")",
                    maxFiles: 3,
                    acceptedFiles:'.jpg',
                });

            </script>



            <br />

            <div>
                <button type="submit" id="save" class="btn btn-outline-success">Готово</button>
                <button type="button" id="preview"onClick="open_preview()" class="btn btn-outline-success">Предпросмотр</button>
            </div>




        </div>
        <br />
       
        <br />

    </div>

</div>







