@{
    ViewData["Title"] = "Home Page";
}

<div class=" mt-4">
    <h1>Some</h1>
    <img class=" img-fluid w-100" src="~/pic1.jpg" alt="">
</div>


<div class="container pt-3 ">
    <div class="row">
        <div class="col  ">
            <img src="~/pic2.jpg" class=" img-responsive rounded-circle" style="width:100%;">
        </div>
        <div class="col my-auto">
            <div class="container">
                <h2><strong>FaudDream</strong></h2>
                <p class="lead ">Создавай успешные проекты прямо сейчас</p>
                <a href="#" class="btn btn-outline-success btn-sm">Начать</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<div class="container pt-3 ">
    <div class="row">
        <div class="col   my-auto">

            <div class="container">
                <h2><strong>Популярные проекты</strong></h2>
                <p class="lead ">Чем популярнее проект , тем больше шансов его завершить </p>
                <a href="#" class="btn btn-outline-success btn-sm">Посмотреть все</a>
            </div>

        </div>
        <div class="col my-auto">
            <div id="carouselExampleIndicators" class="carousel slide mr-4 ml-4 " data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <div class="col mx-auto">

                            <img class="d-block w-100" src="~/test.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Los Angeles</h3>
                                <p>We had such a great time in LA!</p>
                                <a href="#" class="btn btn-outline-success btn-sm">Подробнее</a>
                            </div>



                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col   mx-auto">

                            <img class="d-block w-100" src="~/test.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Los Angeles</h3>
                                <p>We had such a great time in LA!</p>
                                <a href="#" class="btn btn-outline-success btn-sm">Подробнее</a>
                            </div>


                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col   mx-auto">

                            <img class="d-block w-100" src="~/test.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Los Angeles</h3>
                                <p>We had such a great time in LA!</p>
                                <a href="#" class="btn btn-outline-success btn-sm">Подробнее</a>
                            </div>


                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container text-center">
    <h2><strong>Последние обновлённые</strong></h2>
    <p class="lead "> Обновляйте проекты ,совершенствуя их</p>
    <a href="#" class="btn btn-outline-success btn-sm">Посмотреть все</a>
</div>



<!--comanies posts-->

<div class="grid-posts">
    <div class="container-fluid">
        <div class="row mx-auto">
            @for (int i = 0; i < 6; i++)
            {
                <div class="col  col-lg-4 col-md-6 col-12 mx-3 my-2 my-sm-3 my-lg-4 p-3 mx-auto">
                    <div class="card" style="border-color: #3b676a;">
                        <img class="img-fluid" src="~/test.jpg" width="640" height="340" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title @i</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-success btn-sm">Подробнее</a>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>








