
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<body class="login-page">
    <main>
        <div class="row justify-content-center text-center align-middle h-100 my-sm-5 ">
            <div class="login-block my-sm-1">
                <img src="~/1.png" width="84" height="64" alt="Scanfcode">
                <h>Login in</h>
                <form action="#">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                            <input type="text" class="form-control" placeholder="Login">
                        </div>
                    </div>

                    <hr class="hr-xs">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Login in</button>
                    <div class="login-footer">
                        <h6>Or from</h6>
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="glyphicon facebook"></i></a></li>
                          

                        </ul>
                    </div>
                    <div class="login-links">
                        <p class="text-center">Are you have accaunt? <a class="txt-brand" href="user-login.html"><font color=#29aafe>Registration</font></a></p>
                    </div>
                </form>
            </div>

            
        </div>
    </main>

</body>

